<app-navbar
  *ngIf="currentView !== 'welcome' && currentView !== 'partner-preferences' && currentView !== 'photo-gallery'" [t]="t"
  [currentLang]="currentLang" [currentView]="currentView" (langChange)="setLanguage($event)"
  (viewChange)="setView($event)">
</app-navbar>

<div *ngIf="currentView === 'home'">
  <app-hero [t]="t" (viewChange)="setView($event)"></app-hero>
  <app-stats [t]="t"></app-stats>
  <app-how-section></app-how-section>
  <app-search [t]="t"></app-search>
  <app-promises></app-promises>
  <app-how-works [t]="t"></app-how-works>
  <app-stories></app-stories>
  <app-divine-match [t]="t"></app-divine-match>
</div>

<app-privacy-policy *ngIf="currentView === 'privacy-policy'" (viewChange)="setView($any($event))">
</app-privacy-policy>

<app-footer [t]="t" (viewChange)="setView($any($event))"
  *ngIf="currentView === 'home' || currentView === 'privacy-policy'">
</app-footer>

<app-user-profile *ngIf="currentView === 'login'" [t]="t" (viewChange)="setView($event)">
</app-user-profile>

<app-signup *ngIf="currentView === 'register'" [t]="t" (viewChange)="setView($event)">
</app-signup>

<app-email-otp *ngIf="currentView === 'email-otp'" [t]="t" (viewChange)="setView($event)">
</app-email-otp>

<app-set-password *ngIf="currentView === 'set-password'" [t]="t" (viewChange)="setView($event)">
</app-set-password>

<app-profile-form *ngIf="currentView === 'profile-form'" [t]="t" [previousView]="previousView"
  (viewChange)="setView($event)">
</app-profile-form>

<app-partner-preferences *ngIf="currentView === 'partner-preferences'" [t]="t" [previousView]="previousView"
  (viewChange)="setView($event)">
</app-partner-preferences>

<app-welcome *ngIf="currentView === 'welcome'" [t]="t" (viewChange)="setView($event)">
</app-welcome>

<app-dashboard *ngIf="currentView === 'dashboard'" [t]="t" (viewChange)="setView($event)"
  (viewProfile)="openProfileDetail($event)">
</app-dashboard>

<app-settings *ngIf="currentView === 'settings'" (viewChange)="setView($event)">
</app-settings>

<app-notification-settings *ngIf="currentView === 'notification-settings'" (viewChange)="setView($event)">
</app-notification-settings>

<app-notifications *ngIf="currentView === 'notifications'" [previousView]="previousView" (viewChange)="setView($event)">
</app-notifications>

<app-change-password *ngIf="currentView === 'change-password'" (viewChange)="setView($event)">
</app-change-password>

<app-privacy-settings *ngIf="currentView === 'privacy-settings'" (viewChange)="setView($event)">
</app-privacy-settings>

<app-reported-blocked-users *ngIf="currentView === 'reported-blocked-users'" (viewChange)="setView($event)">
</app-reported-blocked-users>

<app-language *ngIf="currentView === 'language'" [currentLang]="currentLang" (viewChange)="setView($event)"
  (langChange)="setLanguage($event)">
</app-language>

<app-messages *ngIf="currentView === 'messages'" [t]="t" (viewChange)="setView($event)">
</app-messages>

<app-chat-detail *ngIf="currentView === 'chat-detail'" [t]="t" (viewChange)="setView($event)">
</app-chat-detail>

<app-favorites *ngIf="currentView === 'favorites'" [t]="t" (viewChange)="setView($event)"
  (viewProfile)="openProfileDetail($event)">
</app-favorites>

<app-profile-detail *ngIf="currentView === 'profile-detail'" [t]="t" [profileId]="selectedProfileId"
  (viewChange)="setView($event)">
</app-profile-detail>

<app-photo-gallery *ngIf="currentView === 'photo-gallery'" (viewChange)="setView($event)">
</app-photo-gallery>